$!{bean.userName}様

お客様のチケットの購入内容は以下の通りです。
必ず購入内容をマイページの「購入履歴」にてご確認ください。
【ご購入内容】
■チケット引換番号:$!{bean.ticketNumber}
■公演情報
公演名:$!{bean.eventName}
公演日:$!{bean.eventDate}
開演時刻:$!{bean.eventTime}
会場名:$!{bean.eventPlace}
■購入チケット情報
全席指定  $!{bean.ticketCount}枚  
$!{bean.floorNo}階 $!{bean.columnsNo}列 $!{bean.seatNoFrom}番#if(${bean.seatNoTo}) - #end$!{bean.seatNoTo}番
■料金明細
チケット料金:全席指定 $!{bean.ticketCount}枚 計$!{bean.ticketTotalAmount}円
システム利用料:$!{bean.systemUseAmount}円 × $!{bean.ticketCount}枚 計 $!{bean.systemUseTotalAmount}円
配送手数料:$!{bean.shippingCharges}円
合計金額:計 $!{bean.totalAmount}円

■決済方法
$!{bean.paymentMethod}
登録名:$!{bean.paymentType}
#if(${bean.paymentType})
■引取方法
$!{bean.takeOffMethod}
#else
◆引取ほうほう
これは、代替のテキストです。
#end
お届け先:基本情報
◆決済について
ご登録の決済方法にてお支払い手続きは完了しています。
ご購入後のチケットの変更・キャンセルはできません。

#if(${bean.takeOffMethod})
◆チケットの発送について
チケットはゆうメール(簡易書留扱い)にてお届けいたします。
配達時にご不在の場合、不在通知票が投函されますのでご確認ください。
チケットは、ご購入後、2日後-7日後のうちに配達にお伺いたします。
発送完了のメールは送信されませんのでご了承ください。
なお、公演によっては発送日が指定されている場合がございます。
「マイページ」の購入履歴からご確認ください。
発送したチケットが、郵便局での保管期間終了などで弊社に返送されてまいりました場合、
再発送に要する再発送料は別途頂戴いたしますのでご了承ください。
公演日の1週間前になってもチケットがお手元に届かない場合は、 チケットぴあメールセンターまでお問い合わせください。
チケットぴあメールセンター (営業時間 10:00-18:00)
電話:0570-02-9596
#end

☆★せっかくチケットを買ったのに…… 
急用でコンサートやお芝居に行けなくなってしまった経験ありませんか?
------
そんな時、チケットぴあが、いつでもあなたの代わりを探します!!
「定価リセールサービス」 詳細はこちら→  http://w.pia.jp/a/resale/
※定価リセールサービスはPCとスマートフォンのみのサービスとなります。
※リセール申込対象外の公演もございます。

------
#if(${bean.plugTextNotice})
$!{bean.plugTextNotice}
#end
------

#if(${bean.isCommon})
#set($parts = $bean.FooterBean)
#parse("mail/template/parts/footer.vm")
#else
#set($parts = $EachFooter)
#parse("mail/template/parts/eachFooter.vm")
#end
