【お問い合わせ】
こちらのメールアドレスは送信専用です。
直接返信されても返答できませんのであらかじめご了承ください。
ご利用に際してご不明の点がございましたら、下記URLよりご確認ください。
チケットぴあ　ヘルプ http://$!{helpDomain}/help/index.html
今後ともチケットぴあをご愛顧いただきますようお願いいたします。
---------------------------------------
チケットぴあ　http://$!{serviceDomain}/t
--------------------------------------- 
